.screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.forming {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  font-size: var(--text-action);
}
