.chart {
  display: flex;
  gap: var(--space-gutter);
  width: 100%;
  min-height: 0;
}

.column {
  display: grid;
  flex: 1;
  grid-template-columns: minmax(max-content, 2fr) 3fr auto;
  gap: var(--space-gap);
  align-content: start;
  min-width: 0;
}

.labelsVisible {
  --labels-opacity: 1;
}

@media (width <= 40rem) {
  .chart {
    flex-direction: column;
  }
}
