.screen {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-gap);
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin: calc(-1 * var(--space-gutter));
  padding: var(--space-gutter);
  overflow: hidden;
  isolation: isolate;
  text-align: center;
}
